<p>
  <%= image_tag @book.cover.url %>
</p>

<% form_id = "book_#{@book.id}_rating" %>
<% if user_signed_in? %> <!-- To avoid throwing an exception if no user is signed in -->
    <% user_id = current_user.id %>
<% else %>
    <% user_id = -1 %>
<% end %>
<%= form_for @book.ratings.find_or_create_by(user_id: user_id), :html => {:id => form_id, :class => "star_rating_form"} do |f| %>
    <%= f.hidden_field :book_id, :value => @book.id %>
    <% if user_signed_in? %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %>
    <%= f.hidden_field :stars, :id => form_id + "_stars" %>
<% end %>
<% (1..5).each do |i| %>
    <li class="rating_star" id="<%= form_id %>_<%= i %>" data-stars="<%= i %>" data-form-id="<%= form_id %>"></li>
<% end %>
<br>
<br>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genres.map { |genre| genre.tag }.join(', ') %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Added by:</strong>
  <%= @book.user.email %>
</p>

<%= link_to "Back", books_path %>
<%= link_to "Edit", edit_book_path(@book) if can? :update, Book %>