<p class="my_new_class">
    <%= image_tag @book.cover.url %>
</p>

<div class="row">
  <!--<div class="small-2 large-2 columns">-->
    <!--<%= imdb_style_rating_for @book, current_user%>-->
  <!--</div>-->
  <br>
  <div class="small-2 large-4 columns">
    <% if current_user %>
        Book rating: <%= rating_for @book, "book_title", disable_after_rate: false%>
        <br>
    <% end %>
  </div>


<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= link_to @book.author.name, author_path(@book.author.id) %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Genre:</strong>
  <ul>
   <% @book.genres.map do |genre| %>
  <li><%= link_to genre.tag, genre_path(genre) %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Added by:</strong>
  <%= link_to @book.user.email, user_path(@book.user.id) %>
</p>

<%= link_to "Back", books_path %>
<%= link_to "Edit", edit_book_path(@book) if can? :update, Book %>
</div>