<p>
  <%= image_tag @book.cover.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genres.map { |genre| genre.tag }.join(', ') %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Added by:</strong>
  <%= @book.user.email %>
</p>

<%= link_to "Back", books_path %>
<%= link_to "Edit", edit_book_path(@book) if can? :update, Book %>
