<!DOCTYPE html>
<html>
<head>
  <title>Bookshelf</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <!--Custom Styles AND JS-->
  <script src="ratings.js"></script>
  <link href="custom.css" rel="stylesheet">

  <!--&lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
  <!--<link href="bootstrap.min.css" rel="stylesheet">-->
  <!--&lt;!&ndash; Bootstrap theme &ndash;&gt;-->
  <!--<link href="bootstrap-theme.min.css" rel="stylesheet">-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <!--&lt;!&ndash;<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>&ndash;&gt;-->
  <!--&lt;!&ndash;<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>&ndash;&gt;-->
  <!--<![endif]&ndash;&gt;-->
</head>
<body>


<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Yopeso Bookshelf</a>
    </div>
    <div class="navbar-collapse collapse">
      <div class="navbar-form navbar-right" role="form">
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <% if user_signed_in? %>
                Logged in as <strong><%= current_user.email %></strong>.
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-success' %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-success' %>
            <% else %>
                <%= f.text_field :email, :class => "form-control" %>
                <%= f.password_field :password, :class => "form-control" %>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
                <%= f.submit 'Sign in', :class => "btn btn-success"%>
                <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-success' %>
                <!--<%= link_to "Forgot your password?", new_password_path(:user) %>-->
            <% end %>
        <% end %>

      </div>
    </div><!--/.navbar-collapse -->
  </div>
</div>



<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= form_tag books_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
    <% end %>
    <%= yield %>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Yopeso 2014</p>
  </footer>
</div> <!-- /container -->


<!--&lt;!&ndash; Bootstrap core JavaScript-->
<!--================================================== &ndash;&gt;-->
<!--&lt;!&ndash; Placed at the end of the document so the pages load faster &ndash;&gt;-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!--<script src="../../dist/js/bootstrap.min.js"></script>-->
<!--&lt;!&ndash; IE10 viewport hack for Surface/desktop Windows 8 bug &ndash;&gt;-->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
</body>
</html>