<!DOCTYPE html>
<html>
<head>
  <title>Yopeso Bookshelf</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Yopeso Bookshelf</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/books">Books</a></li>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
      <div class="navbar-form navbar-right" role="form">
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <% if user_signed_in? %>
                Logged in as <strong><%= current_user.email %></strong>.
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-success' %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-success' %>
            <% else %>
                <%= f.text_field :email, :class => "form-control" %>
                <%= f.password_field :password, :class => "form-control" %>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
                <%= f.submit 'Sign in', :class => "btn btn-success" %>
                <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-success' %>
                <!--<%= link_to "Forgot your password?", new_password_path(:user) %>-->
            <% end %>
        <% end %>

      </div>
    </div>
    <!--/.navbar-collapse -->
  </div>
</div>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <br>
    <div class="search_bar">
    <%= form_tag books_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search], :placeholder => "Books, Authors", :class => "form-control" %>
          <a class="search_btn"><%= submit_tag "Search", :name => nil, :class => "btn btn-default"%></a>
        </p>
    <% end %>
    </div>
    <div class="main_cont">
    <%= notice %>
    <%= alert %>
    <%= yield %>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
    </div>
  </div>

  <hr>

  <div class="footer">
    <div class="container">
      <p class="text-muted">&copy; Yopeso 2014</p>
    </div>
  </div>
</div>
<!-- /container -->

</body>
</html>